body{
    font-family: "MyFont";
}

@font-face {
    font-family: 'MyFont';
    src: url('https://gregory133.github.io/Merida-Chess-Font/LichessMerida.woff') format('woff');
        /* src: url('./LichessMerida.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}